/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
}

h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}


.logo {
	background-color:#b92e81;
	border-radius: 50%;
	position: absolute;
	right: 25px;
	bottom: -20px;
}

.foto {
	width: 300px;
}

.hlavicka {
	position: relative;
}

.profil {
	box-sizing: border-box;
	width: 300px;
	background-color: #31363b;
	color:#e1e5e8;
	font-family: 'Source Sans 3', sans-serif;
}

.obsah {
	padding: 20px;
}

.odkazy {
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
}

.odkazy .portfolio a {
	display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 15px;
	text-align: center;
}

.portfolio {
	border-top: 1px solid #3f464d;
	border-bottom: 1px solid #3f464d;
}

.portfolio:hover,
.portfolio:focus {
	background-color: #e74c3c;
}

.odkazy .facebook,
.odkazy .twitter {
	display: inline-block;
}

.odkazy .facebook a,
.odkazy .twitter a {
	text-transform: uppercase;
    text-decoration: none;
	font-size: 18px;
    color: white;
	text-align: center;
	display: block;
	box-sizing: border-box;
	width: 150px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.odkazy .facebook a {
	border-right: 1px solid #3f464d;
} 

.facebook:hover,
.facebook:focus {
	background-color: #3b5998;
}

.twitter:hover,
.twitter:focus {
	background-color: #1da1f2;
}